{% extends "layout.html" %}   <!--entre aspas simples coloca o nome do outro html que
vai ser usado em uma nova pag, com um layout diferente-->

{% block corpo %}
{% if session.logado %}
<form action="" method="post" class="ins-entrada">
      <dl>
        <dt>Título:
             <dd><input type="text" size="30" name="titulo">
        <dt>Texto:
        <dd><textarea rows="5" cols="40" name="texto"></textarea>
        <dd><input type="submit" value="Publicar">
      </dl>
</form>
  {% endif %}
  <ul class="entradas">
  {% for entrada in entradas %}
    <li><h2>{{ entrada.titulo }}</h2>{{ entrada.texto|safe }}
  {% else %}
    <li><em>Inacreditável. Até agora nenhuma entrada.</em>
  {% endfor %}
  </ul>
{% endblock %}


<h1>BLOG</h1>
{% for entrada in entradas%}

<h2>{{ entrada.titulo }}</h2>
<p>{{ entrada.texto }}</p>
{% else %}
<i>Esse blog ainda não possui entradas</i>
{% endfor %}